<div id='topic'>
  <h2><%= @topic.title %></h2>
  <span id='author'>Created by <%= @topic.user.email %></span>
  <%= simple_format(@topic.description) %>

  <%= authorized?("edit topics", @category) do %>
    <%= link_to "Edit Topic", [:edit, @category, @topic] %>
  <% end  %>
  <%= authorized?("delete topics", @category) do %>
    <%= link_to "Delete Topic", 
                [@category, @topic],
                method: :delete,
                data: {
                  confirm: "Are yu sure you want to delete this topic?"
                }
    %>
  <% end %>
</div>