<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
   <div id="error_explanation">
     <p>
      <%= pluralize(@category.errors.count, "error") %>
       prohibited this category from being saved:
     </p>
     <ul>
     <% @category.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
</p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  <%= f.submit %>
<% end %>