<% title("Categories | " + @category.name) %>
<h2><%= @category.name %></h2>

<%= link_to "Edit Category", edit_category_path %>
<%= link_to "Delete Category",
            category_path(@category),
            method: :delete,
            data: {
              confirm: "Are you sure you want to delete this category?" 
            } 
%>
<%= link_to "New Topic", new_category_topic_path(@category) %>
<ul id='topics'>
  <% @category.topics.each do |topic| %>
    <li>
      #<%= topic.id %> -
      <%= link_to topic.title, [@category, topic] %>
    </li>
  <% end %>
</ul>